<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mail To CEO From Main Site</title>
<style>
    .clear{clear:both;}
</style>
</head>

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; color:#484747; line-height:18px;margin:60px 0px; background-color:#dee0e2">
<table width="620" border="0" cellspacing="0" cellpadding="0"  align="center" style="background-color:#fff; padding:10px 0px 0px; border-top:2px solid #ecc731">

  <tr height="65">
    <td style="" align="center"><a href="{{website}}"><img src="logo-new.jpg" alt="CRY"  border="0"/></a></td>
  </tr>
    <tr height="30">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="padding:0 30px">
    <table width="560" border="0" cellspacing="0" cellpadding="0">
        <tr style="padding-top:20px;">
        <td align="right" style="color:#cc2028">{{dobj.created|date:"d N Y, h:i a"}}</td>
        </tr>
        <tr style="padding-top:30px;">
            <td>Dear CEO,</td>
        </tr>
    </table>
    </td>
  </tr>
  <tr>
  <td style="padding:0 30px;">
    <p style="margin:20px 0 0">New Donar has been created.<span style="color:#cc2028;"><a href="{{donar}}">{{ dobj.name }}</a></span><br/>
    {% if dobj.user %}
    Created by: {{dobj.user.username}} <br/>
    {% else %}
    Created by: N/A <br/>
    {% endif %}
    Email : {{dobj.email}} <br/>
    {% if dobj.location %}
    Location : {{dobj.location.name}} <br/>
    {% else %}
    Location : N/A <br/>
    {% endif %}
    Mobile No: {{dobj.mobile_no}}
    </td>
  </tr>
  <tr>
  <td style="padding:0 30px">
        <p style="margin:38px 0 0">Thank you,</p>
        <p style="margin:0px 0 0">Sincerely yours,</p>
        <p style="margin: 0px;">Team CRY</p>
   </td>
   </tr>
  <tr height="40">
  <td>&nbsp;</td>
  </tr>
  <tr>
    <td style=" padding:10px 30px; color:#fff; background:#232323;font-size:11px;    border-top: 4px solid #ecc731;"  border="0" >
       <b>Contact Information </b> <br/>CRY - Child Rights and You, No 12/3-1, Madhavi Mansion, Bachammal Road, Cox Town, Bengaluru, Karnataka 560005
       <br/>
            CRY – Child Rights and You, 189/A Anand Estate, Sane Guruji Marg, Mumbai – 400 011
       <br/>Call: 080-2548 8574/4952/4065;&nbsp;
       <a href="mailto:
cryinfo.blr@crymail.org" style="color:#fff; text-decoration:none;">
cryinfo.blr@crymail.org</a>;&nbsp;
       <a href="http://meal.mahiti.org" target="_blank" style="color:#fff; text-decoration:none;">meal.mahiti.org</a>
   </td>
  </tr>
</table>

</body>
</html>
