<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Change Password Link</title>
        <style>
            .clear{clear:both;}
        </style>
    </head>
    <body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; color:#484747; line-height:18px;margin:60px 0px; background-color:#dee0e2">
        <table width="620" border="0" cellspacing="0" cellpadding="0"  align="center" style="background-color:#fff; padding:10px 0px 0px; border-top:2px solid #ecc731">
            <tr height="65">
                <td style="" align="center"><a href="#"><img src="http://crymis.mahiti.org/static/logo-new.jpg" alt="Child Rights and You"  border="0"/></a></td>
            </tr>
            <tr height="30">
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="padding:0 30px">
                    <table width="560" border="0" cellspacing="0" cellpadding="0">
                        <tr style="padding-top:30px;">
                            <td>Hello <b>{{email}}</b>,</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding:0 30px;">
                    <p style="margin:18px 0 0">Someone has requested a link to change your password, and you can do this through the link below.</p>
                    <p style="margin:18px 0 0"><a href="{{url}}{{key}}">Change your password</a></p>
                    <p style="margin:18px 0 0">If you didn't request this, please ignore this email.</p>
                    <p style="margin:18px 0 0">Your password won't change until you access the link above and create a new one.</p>
                </td>
            </tr>
            <tr>
                <td style="padding:0 30px">
                    <p style="margin:38px 0 0">Thank you,</p>
                    <p style="margin:0px 0 0">Sincerely yours,</p>
                    <p style="margin: 0px;">CRY Team</p>
                </td>
            </tr>
            <tr height="40">
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style=" padding:10px 30px; color:#fff; background:#232323;font-size:11px;    border-top: 4px solid #ecc731;"  border="0" >
                    <b>Contact Information </b> <br/>CRY – Child Rights and You, Madhavi Mansion 12/3-1, Bachammal Road Cox Town, Bengaluru – 560 005
                    <br/>Call: 
080-2548 8574/4952/4065;&nbsp;
                    <a href="mailto:cryinfo.blr@crymail.org" style="color:#fff; text-decoration:none;">cryinfo.blr@crymail.org</a>;&nbsp;
                    <a href="https://www.cry.org/" target="_blank" style="color:#fff; text-decoration:none;">https://www.cry.org/</a>
                </td>
            </tr>
        </table>
    </body>
</html>
